/* Disable focus blue outline on anchor */
*:focus {
	outline: none;
}

html {
	background: black;
	/* scroll-behavior: smooth; */
}

/* Disable body scroll */
body.scroll-disabled {
	overflow: hidden;
	height: 100%;
}

/* Mobile Viewport height */
.full-height-mobile {
	height: calc(var(--vh, 1vh) * 100);
}

/* Button normalize reset */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}



	
  .add-ons_accordion-body.add-ons_js-accordion-body {
		display: none;
	}
	.add-ons_accordion-item.active .drop-btn {
  	transform: rotate(180deg);
	}
 .accordion_gradient {
		transition-delay: 250ms;
 	 pointer-events:none;
	}
	.add-ons_accordion-item.active .accordion_gradient {
  	opacity: 1;
	}
	.playing .play_btn	{
		opacity: 0!important;
		transform: scale(0.5);
	}
	.play_btn	{
		opacity: 1;
		transition: opacity 0.2s ease, transform 0.2s ease;
	}
	.playing .poster {
		opacity:0;
	}
	.poster	{
		transition: opacity 0.2s ease, transform 0.2s ease;
	}
	.playing .speaker-info {
		opacity:0;
	}
	.speaker-info {
		opacity: 1;
		transition: opacity 0.2s ease, transform 0.2s ease;
	}
	.video	{
		object-fit: cover;
  	border-radius: inherit; 
	}

	.swiper-slide.vertical-slide {
		opacity:0;
		transition: opacity 0.5s ease-out;
	}
	.swiper-slide.vertical-slide.swiper-slide-active {
		opacity:1;
   }
 
	.swiper-pagination2 {
		bottom: 2em!important;
	}
	@media screen and (max-width:479px) {
		.swiper-pagination2 {
			bottom: 2.6vw!important;
		}
	}

.accordion_gradient {
transform: translate3d(0,0,0);
}
a, label{
	-webkit-tap-highlight-color: transparent;
}
.slider-button-right {
	-webkit-tap-highlight-color: transparent;
}
.slider-button-left {
	-webkit-tap-highlight-color: transparent;
} 

.transitionfix {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0)
}
.transitionfix-vis {
-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0)
}


/*width*/
.add-ons_js-accordion-body::-webkit-scrollbar {
width:7px;
}
/*track*/
.add-ons_js-accordion-body::-webkit-scrollbar-track {
background:rgba(189, 189, 189, 0.13);
border-radius:40px;
}
/*thumb*/
.add-ons_js-accordion-body::-webkit-scrollbar-thumb {
background:rgba(189, 189, 189, 0.6);
border-radius:40px;
}

.swiper-slide.basic-swiper-item.works .case {
object-position: top;
}

.nav_btn.size-s {
	transform: translate3d(0,0,0);
}
.main_btn.colored{
	transform: translate3d(0,0,0);
}

input:focus::placeholder {
	color: transparent
} 

.credit {
transform: translateZ(0)
}

.iti {
    width: 100%;
}

.iti.iti--container {
    z-index: 10000;
}

.iti__country-name {
    color: #1d1d20;
}

.iti__selected-flag {
    padding-bottom: 0.5vw!important;
    padding-left: 0!important;

}

.iti__selected-flag:hover {
	background: none!important;
}

.iti__country-list {
	z-index:4!important;
}

@media screen and (max-width: 479px) {

.iti__country {
font-size:18px!important;
line-height: 18px;
}
}
@media screen and (max-width: 767px) {



    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 45px;
    }

}

@media screen and (min-width:768px)and (max-width: 1439px) {

    

    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 50px;
    }

}

@media only screen and (min-width:1440px) {

    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 50px;
    }

  

}
