.iti {
    width: 100%;
}

.iti.iti--container {
    z-index: 10000;
}

.iti__country-name {
    color: #1d1d20;
}

.iti__selected-flag {
    padding-bottom: 0.5vw!important;
    padding-left: 0!important;

}

.iti__selected-flag:hover {
	background: none!important;
}

.iti__country-list {
	z-index:4!important;
}

@media screen and (max-width: 479px) {

.iti__country {
font-size:18px!important;
line-height: 18px;
}
}
@media screen and (max-width: 767px) {



    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 45px;
    }

}

@media screen and (min-width:768px)and (max-width: 1439px) {

    

    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 50px;
    }

}

@media only screen and (min-width:1440px) {

    .iti--allow-dropdown input,
    .iti--allow-dropdown input[type=tel],
    .iti--allow-dropdown input[type=text],
    .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=tel],
    .iti--separate-dial-code input[type=text] {
        padding-left: 50px;
    }

  

}
